@model fluid_layout.Models.FluidModels

@{
    ViewBag.Title = "Fluid Layout";
}
@if(Model.Email != null)
{
    <div class ="message">
        @Model.Email has been registered successfully!
    </div>
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "myForm" }))
{
        <div class ="left-centered">
            <span class="signUpText show-right-border">@Model.SignUpText</span>
        </div>
        <div class="centered">
            <input class="email" type="text" name="email" placeholder="ENTER YOUR EMAIL ADDRESS">
        </div>
        <div class="right-centered">
            <button type="submit" class="btn btn-sign-up">SIGN UP</button>
        </div>
}
